# Porta onde o servidor vai rodar
PORT=

# Ambiente atual da aplicação
NODE_ENV=

# URL de conexão com o banco de dados
# formato: postgresql://USUARIO:SENHA@HOST:PORTA/NOME_DO_BANCO
DATABASE_URL=

# Chave secreta para assinar os tokens JWT
JWT_SECRET=